<div class="background">
    <div class="title">
      <h1>GEOQUIZZ</h1>
    </div>
    <div class="text_question"><h1>Question</h1></div>
    <div class="container_questions">
      <div class="rectangle_questions"><h2><%= @questionhard.text %></h2></div>
    </div>
    <div class="container_answers mrg_top">
      <a class="square_answers" data-correct="<%= @answershard[0][:correct] %>"><h2><%= @answershard[0][:label] %></h2></a>
      <a class="square_answers" data-correct="<%= @answershard[1][:correct] %>"><h2><%= @answershard[1][:label] %></h2></a>
    </div>
    <div class="container_answers">
      <a class="square_answers" data-correct="<%= @answershard[2][:correct] %>"><h2><%= @answershard[2][:label] %></h2></a>
      <a class="square_answers" data-correct="<%= @answershard[3][:correct] %>"><h2><%= @answershard[3][:label] %></h2></a>
    </div>
    <h2 class="container_next" onClick="window.location.reload()">Next</h2>
</div>
<script>
  var questionshard = document.getElementsByClassName('square_answers');
  for (var i=0; i < questionshard.length; i++) {
    questionshard[i].onclick = function(){
      var answerhard = this;
      var correct = answerhard.dataset.correct === 'true';
      if (correct) {
        answerhard.classList.add('correct');
      } else {
        answerhard.classList.add('incorrect');
      }
    }
};
</script>