<%= form_with(model: questionhard) do |form| %>
  <% if questionhard.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(questionhard.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
        <% questionhard.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :texthard %>
    <%= form.text_area :texthard %>
  </div>

  <div class="field">
    <%= form.label :correct_answerhard %>
    <%= form.text_field :correct_answerhard %>
  </div>

  <div class="field">
    <%= form.label :wrong_answerhard_1 %>
    <%= form.text_field :wrong_answerhard_1 %>
  </div>

  <div class="field">
    <%= form.label :wrong_answerhard_2 %>
    <%= form.text_field :wrong_answerhard_2 %>
  </div>

  <div class="field">
    <%= form.label :wrong_answerhard_3 %>
    <%= form.text_field :wrong_answerhard_3 %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>