<p id="notice"><%= notice %></p>

<p>
  <strong>Text:</strong>
  <%= @question.text %>
</p>

<p>
  <strong>Correct answer:</strong>
  <%= @question.correct_answer %>
</p>

<p>
  <strong>Wrong answer 1:</strong>
  <%= @question.wrong_answer_1 %>
</p>

<p>
  <strong>Wrong answer 2:</strong>
  <%= @question.wrong_answer_2 %>
</p>

<p>
  <strong>Wrong answer 3:</strong>
  <%= @question.wrong_answer_3 %>
</p>

<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
